<div class="icl_cyan_box" id="{{ placeHolder|e }}">
	<input type="hidden" name="action" value="{{ formAction|e }}">
	<input type="hidden" name="wpml_clear_ts_nonce" value="{{ nonces.clearTS|e }}">

	<h3>{{ strings.title }}</h3>

	<p>{{ strings.message }}</p>
	<a class="button-primary" href="#">{{ strings.button }}</a><span class="spinner"></span>
</div><br clear="all"/>