<div class="icl_cyan_box" id="{{ placeHolder|e }}">
	<h3>{{ strings.title }}</h3>

	<div class="icl_form_errors">
		{{ strings.alert1 }}
		<br/>
		{{ strings.alert2 }}
	</div>
	<p style="padding:6px;">
		<input id="icl_reset_pro_check" type="checkbox" value="1"/>
		&nbsp;<label for="icl_reset_pro_check">{{ strings.checkBoxLabel }}</label>
	</p>

	<p style="padding:6px;">
		<a id="icl_reset_pro_but" href="#" class="button-primary button-primary-disabled">
			{{ strings.button }}
		</a><span class="spinner"></span>
	</p>

</div>
<br clear="all"/>